body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.navbar {
    background-color: #313236;
    border-radius: 2px;
    max-width: 800px;
}

.navbar a {
    color: #aaa;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
}

.navbar a:hover {
    color: #ffffff;
}