body {
    font-family: sans-serif;
    margin: auto;
}

.navbar {
    background-color: #000000;
    width: 100%;
    display: inline-block;
    border-radius: 2px;
}

.navbar a {
    color: #ffffff;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
}

.navbar a:hover {
    color: #fb1119;
}

#navbar-title {
    text-align: left;
    font-size: 20px;
    float: left;
    color: #fb1119;
    padding-left: 20px;
}

#navbar-buttons {
    text-align: right;
    float: right;
}